includeConfig '../nextflow.config'

// Set work directory with the same name as the workflow (without extension)
workDir = "$NXF_WORK/my_pipeline"

params {
    json_schemas {
        functional_annotation = "${projectDir}/../../schema/functional_annotation_schema.json"
        genome = "${projectDir}/../../schema/genome_schema.json"
        manifest = "${projectDir}/../../schema/manifest_schema.json"
        seq_attrib = "${projectDir}/../../schema/seq_attrib_schema.json"
        seq_region = "${projectDir}/../../schema/seq_region_schema.json"
    }
}
