profiles {

    standard {
        process {
            executor = 'local'
            perJobMemLimit = true

            withLabel: rc_default {
                cpus = 1
                memory = '250 MB'
            }
        }
    }

    lsf {
        process {
            executor = 'lsf'
            queue = 'standard'
            perJobMemLimit = true

            withLabel: rc_default {
                cpus = 1
                memory = '250 MB'
            }
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'standard'
            perJobMemLimit = true

            withLabel: rc_default {
                cpus = 1
                memory = '250 MB'
                time = '1 min'
            }
        }
    }

}