includeConfig '../nextflow.config'

// Set work directory with the same name as the workflow (without extension)
workDir = "$NXF_WORK/additional_seq_prepare"

params {
    outdir = "$workDir"
    json_schemas = [
        functional_annotation: "${projectDir}/../../../../schemas/functional_annotation_schema.json",
        genome: "${projectDir}/../../../../schemas/genome_schema.json",
        manifest: "${projectDir}/../../../../schemas/manifest_schema.json",
        seq_attrib: "${projectDir}/../../../../schemas/seq_attrib_schema.json",
        seq_region: "${projectDir}/../../../../schemas/seq_region_schema.json"
    ]
}

singularity{
	enabled = true
}


