// See the NOTICE file distributed with this work for additional information
// regarding copyright ownership.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Pipeline: Dumper pipeline
process {
    // Container: Ensembl Perl API stack
    withName: 'DUMP_AGP|DUMP_ANNOTATION|DUMP_FASTA_DNA|DUMP_FASTA_PEPTIDES|DUMP_GFF3|DUMP_SEQ_ATTRIB' {
        container = 'ensemblorg/ensembl-legacy-scripts:e112_APIv0.4'
    }
}
