
// Pipeline: Dumper pipeline (param: -genomio_container)
process {
    // Container: Ensembl-genomio python library
    withName: 'CHECK_INTEGRITY|COMPARE_GENOME_STATS|DB_FACTORY|DUMP_DB|DUMP_EVENTS|DUMP_GENOME_META|DUMP_GENOME_STATS|DUMP_SEQ_REGIONS|MANIFEST|' {
        container = "lahcen86/dev_genomio:v1.3.1"
    }
}
