
// Pipeline: Genome prepare (param: -genomio_container)
process {
    // Container: Ensembl-genomio python library
    withName: 'AMEND_GENOME_DATA|CHECK_INTEGRITY|CHECK_JSON_SCHEMA_GENOME|DOWNLOAD_ASM_DATA|MANIFEST|MANIFEST_STATS|_PREPARE_GENOME_METADATA|PROCESS_FASTA_*|PROCESS_GFF3|PROCESS_SEQ_REGION|PUBLISH_DIR|UNPACK_GFF3'{
        container = "lahcen86/dev_genomio:v1.3.1"
    }
}
